
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}

.customTittle{
    cursor: pointer;
}


.photo {
    width: 100px!important;
    height: 150px!important;
}

.photoExt {
    width: 300px!important;
    height: 400px!important;
}

.footerMod{
    position: fixed!important;
    left: 0!important;
    bottom: 0!important;
    width: 100%!important;
    background-color: red!important;
    color: white!important;
    text-align: center!important;
}